In [24]:
import ipywidgets as widgets
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [25]:
filename  = 'ProgrammingAssignment.csv'
frame = pd.read_csv(filename, low_memory=False)
frame['City & State'] = frame['City'] + ', ' + frame['State']

In [26]:
field = widgets.Dropdown(options=[i for i in frame.columns if i!= 'ID'], value=frame.columns[1],description='Field: ',disabled=False,)
display(field)

Dropdown(description='Field: ', options=('Bank Name', 'Type', 'City', 'State', 'Zip code', 'City & State'), va…

In [32]:
fieldValue = field.value

In [33]:
tag = widgets.Dropdown(options=frame[fieldValue].unique(),value=frame[fieldValue].unique()[0],description='Search Tag: ',disabled=False,)
display(tag)

Dropdown(description='Search Tag: ', options=('New York, NY', 'Winston-Salem, NC', 'Dallas, TX'), value='New Y…

In [34]:
tagValue = tag.value

In [35]:
def Process(frame,fieldValue,tagValue):
    dframe = frame[frame[fieldValue] == tagValue]
    return dframe

In [36]:
Process(frame,fieldValue,tagValue)

,ID,Bank Name,Type,City,State,Zip code,City & State
5,6,Neighborhood Bank,ATM,Winston-Salem,NC,27105,"Winston-Salem, NC"
6,7,Amazing Bank,ATM,Winston-Salem,NC,27106,"Winston-Salem, NC"
7,8,Neighborhood Bank,Branch,Winston-Salem,NC,27107,"Winston-Salem, NC"